<div class="main-content"> 
    <h3 class="text-center">liste des matiéres</h3>
  <div >
      <table class="table table-striped table-responsive-md">
          <thead>
            <tr>
                <th jhiSortBy="Title">
                    <a (click)="sort_by_title('title')">{{ 'class.classTitle' | translate }} <span *ngIf="!sortTitle" class="glyphicon glyphicon-arrow-down"></span> <span *ngIf="sortTitle" class="glyphicon glyphicon-arrow-up"></span></a>
                </th>
                <th jhiSortBy="description">
                    <a (click)="sort_by_description('description')">{{ 'class.description' | translate }} <span *ngIf="!sortDesc" class="glyphicon glyphicon-arrow-down"></span> <span *ngIf="sortDesc" class="glyphicon glyphicon-arrow-up"></span></a>
                </th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let s of subjects; let i = index">
                  <td>{{ s.title}} </td>
                  <td>{{ s.description }}</td>        
                  <td class="td-actions text-right"> 
                      &nbsp;<a [routerLink]="['/','dashboard','subject',s.id,'prof']" data-toggle="tooltip" title="Voir les profs" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-question-sign"></span>   </a>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  <nav aria-label="Page navigation example">
    <ul *ngIf="totalPages" class="pagination">
        <li [ngClass]="{disabled:currentPage ===0}">
            <a  (click)="setPage(0)">{{ 'class.first' | translate }}</a>
        </li>
        <li [ngClass]="{disabled:0 >= currentPage}">
            <a (click)="setPage(currentPage - 1)">{{ 'class.previous' | translate }}</a>
        </li>
        <li *ngFor="let page of TabReturn(pageView); let i = index" [ngClass]="{active:currentPage === page}">
            <a (click)="setPage(i)">{{i}}</a>
        </li>
        <li [ngClass]="{disabled:currentPage === totalPages-1}">
            <a (click)="setPage(currentPage + 1)">{{ 'class.next' | translate }}</a>
        </li>
        <li [ngClass]="{disabled:currentPage === totalPages-1}">
            <a (click)="setPage(totalPages-1)">{{ 'class.last' | translate }}</a>
        </li>
    </ul>
  </nav>
</div>