
<form [formGroup]="quoteForm" (ngSubmit)="onSubmitForm()">
        <div class="modal-header">
            <h4 class="modal-title">Nouveau citation</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
                <i class="material-icons">clear</i>
            </button>
        </div>
      
        <div class="modal-body">
            <!--<div class="form-group">
                <label for="Title">Titre</label>
                <input type="text" id="Title"  class="form-control" formControlName="Title">
            </div>-->
               
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea rows = "5" cols = "50" class="form-control" formControlName="quote"></textarea>
            </div>
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span >Cancel</span>
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="quoteForm.invalid" >Add</button>     
        </div>
    </form>  
        