<div class = "row center">
    <div class="form-group col-sm-7">
        <div class="col-sm-4">
            <h4>Citation par jour: </h4>
        </div>
        <mat-form-field>
            <input matInput [matDatepicker] = "picker" placeholder = "Choose a date" [(ngModel)] = "dateSelectedMonth" (dateChange)="onDateSelectedMonth()">
            <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-sm-3">
        <a (click)="openNew()" class="btn btn-info pull-right"><span class="glyphicon glyphicon-plus"></span> add</a>
    </div>
</div>

<div class="span8">
    <div class ="idea" *ngFor="let quote of quotes; let i = index" >
        <a (click)="openDelete(quote)" *ngIf = "type != 'etudiant'" data-toggle="tooltip" title="Supprimer" class="btn btn-sm btn-danger pull-right"><span class="glyphicon glyphicon-remove"></span> </a>
        <hr>
        <h1>Citation: {{ i + 1  }}</h1>
        <p>{{ quote.quote }}</p>
        <div>
            <span class="badge badge-info pull-right">Publiée {{ toDate(quote.createdAt) }}</span>
            <!--<div class="pull-right"><span class="label">alice</span> <span class="label">story</span> <span class="label">blog</span> <span class="label">personal</span>
            </div>-->
        </div>
        <hr>
    </div>
</div>
<div class="text-center"> 
    <ul *ngIf="totalPages" class="pagination">
        <li [ngClass]="{disabled:currentPage ===0}">
            <a  (click)="setPage(0)">{{ 'userList.first' | translate }}t</a>
        </li>
        <li [ngClass]="{disabled:0 >= currentPage}">
            <a (click)="setPage(currentPage - 1)">{{ 'userList.previous' | translate }}</a>
        </li>
        <li *ngFor="let page of TabReturn(pageView); let i = index" [ngClass]="{active:currentPage === page}">
            <a (click)="setPage(i)">{{i}}</a>
        </li>
        <li [ngClass]="{disabled:currentPage === totalPages-1}">
            <a (click)="setPage(currentPage + 1)">{{ 'userList.next' | translate }}</a>
        </li>
        <li [ngClass]="{disabled:currentPage === totalPages-1}">
            <a (click)="setPage(totalPages-1)">{{ 'userList.last' | translate }}</a>
        </li>
    </ul>  
</div>