
<form [formGroup]="propositionForm" (ngSubmit)="onSubmitForm()">
  <div class="modal-header">
      <h4 class="modal-title">Edit answer</h4>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
          <i class="material-icons">clear</i>
      </button>
  </div>

  <div class="modal-body">
    <div [hidden]="propositions.length" >
          <h4>Vous n'avez pas répondu à cette question</h4>    
    </div>
    <div *ngIf = "propositions.length" class="form-group">
          <label for="propositions">Propositions</label>
          <ul class="list-group">
              <li class="list-group-item" *ngFor="let proposition of this.propositions; let i = index">            
                  <div  class="custom-control custom-checkbox">
                  <input  type="checkbox" [checked]="proposition.userAnswer" (change)="onChange(proposition, $event.target.checked)" class="custom-control-input">
                  <label class="custom-control-label" for="defaultUnchecked">{{ proposition.description }}</label>                           
                </div>
              </li>
          </ul>  
    </div>
  </div>
  
  <div *ngIf = "propositions.length" class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
          <span class="fa fa-ban"></span>&nbsp;
          <span >Cancel</span>
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="propositionForm.invalid">Add</button>     
  </div>
</form>  