
<form [formGroup]="answerForm" (ngSubmit)="onSubmitForm()">
  <div class="modal-header">
      <h4 class="modal-title">Edit answer</h4>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
          <i class="material-icons">clear</i>
      </button>
  </div>

  <div class="modal-body">
      <div [hidden]="answer" >
            <h4>Vous n'avez pas répondu à cette question</h4>    
      </div>
      <div *ngIf = "answer" class="answer">
            <h4 class="modal-title">Votre reponse:</h4>
            <button type="submit" (click)="deleteAnswer(answer.id)" class="btn btn-danger pull-right">Delete</button> 
            <p >{{answer.description}}</p>           
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea rows = "5" cols = "50" class="form-control" formControlName="Description"></textarea>
            </div>
      </div>
  </div>
  
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
          <span class="fa fa-ban"></span>&nbsp;
          <span >Cancel</span>
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="answerForm.invalid">Add</button>     
  </div>
</form>  