
<form [formGroup]="propositionForm" (ngSubmit)="onSubmitForm()">
    <div class="modal-header">
        <h4 class="modal-title text-center">New answer</h4>
        <h4 *ngIf = "answers.length == 0" class="modal-title pull-left" style="font-size:15px;color:white;background-color:red;padding:15px;font-family:Roboto;">{{minuteTimer}}:{{secondTimer}}</h4>     
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
            <i class="material-icons">clear</i>
        </button>
    </div>
  
    <div class="modal-body">
        <div *ngIf = "answers.length !=0">                       
            <h4>Vous  avez répondu à cette question</h4>
            <h5>Votre réponse:</h5>  
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let answer of this.answers; let i = index">            
                    <div  class="custom-control custom-checkbox">
                    <label class="custom-control-label" >{{ answer.description }}</label>                           
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf = "answers.length == 0" class="form-group">        
            <label for="propositions">Propositions</label>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let proposition of this.propositions; let i = index">            
                    <div  class="custom-control custom-checkbox">
                    <input  type="checkbox"  (change)="onChange(proposition, $event.target.checked)" id = "defaultUnchecked"class="custom-control-input">
                    <label class="custom-control-label" for="defaultUnchecked">{{ proposition.description }}</label>                           
                  </div>
                </li>
            </ul>  
        </div>
    </div>
     
    <div *ngIf = "answers.length ==0" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span >Cancel</span>
        </button>
        <button type="submit" [disabled]="propositionsChecked.length==0" class="btn btn-primary" >Add</button>     
    </div>
  </form>  
  
    