
<form [formGroup]="answerForm" (ngSubmit)="onSubmitForm()">
  <div class="modal-header">
      <h4 class="modal-title text-center">New answer</h4>
      <h4 *ngIf = "!answer" class="modal-title pull-left" style="font-size:15px;color:white;background-color:red;padding:15px;font-family:Roboto;">{{minuteTimer}}:{{secondTimer}}</h4> 
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
          <i class="material-icons">clear</i>
      </button>
  </div>

  <div class="modal-body">
        <div *ngIf = "answer">
            <h4>Vous  avez répondu à cette question</h4>             
            <h5>Votre réponse:</h5> 
            <p>{{ answer.description }}</p>         
        </div>
        <div [hidden]="answer" class="form-group">
            <label for="Description">Description</label>
            <textarea rows = "5" cols = "50" class="form-control" formControlName="Description"></textarea>
        </div>
  </div>
  
  <div class="modal-footer">      
      <div [hidden]="answer" class="form-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span >Cancel</span>
        </button>
        <button type="submit"   class="btn btn-primary" [disabled]="answerForm.invalid">Add</button>
      </div>     
  </div>
</form>  

  