

<form [formGroup]="roleForm" (ngSubmit)="onSubmitForm()">
  <div class="modal-header">
      <h4 class="modal-title">Role</h4>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
          <i class="material-icons">clear</i>
      </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="Role">Role ?</label>
        <select id="Role" class="form-control" formControlName="role">
          <option [value]="role.id" *ngFor="let role of rolesOption">{{role.name}}</option>
        </select>
      </div>     
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
          <span class="fa fa-ban"></span>&nbsp;
          <span >Cancel</span>
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="roleForm.invalid">Add</button>     
  </div>
</form>  
