

<form *ngIf = "isFromProf" [formGroup]="noteForm" (ngSubmit)="onSubmitFormProf()">
  <div class="modal-header">
      <h4 class="modal-title">Note</h4>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
          <i class="material-icons">clear</i>
      </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="Role">Note ?</label>
        <textarea id="Note" class="form-control" formControlName="note" rows="4" cols="50">
             
        </textarea>
        <div *ngIf = "isFromProf" class="form-group"> 
            <label class="custom-control-label" for="Score">Score</label>
            <input type="number" formControlName="score"  class="form-control" />
          </div>
      </div>     
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
          <span class="fa fa-ban"></span>&nbsp;
          <span >Cancel</span>
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="noteForm.invalid">Add</button>     
  </div>
</form>  


<form *ngIf = "!isFromProf" [formGroup]="noteEtudiantForm" (ngSubmit)="onSubmitForm()">
    <div class="modal-header">
        <h4 class="modal-title">Note</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
            <i class="material-icons">clear</i>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
          <label for="Role">Note ?</label>
          <textarea id="Note" class="form-control" formControlName="note" rows="4" cols="50">
               
          </textarea>
          <div *ngIf = "isFromProf" class="form-group"> 
              <label class="custom-control-label" for="Score">Score</label>
              <input type="number" formControlName="score"  class="form-control" />
            </div>
        </div>     
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span >Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="noteEtudiantForm.invalid">Add</button>     
    </div>
  </form>  
  