
    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm(user.id)">
      <div class="modal-header">
          <h4 class="modal-title">Edit user</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
              <i class="material-icons">clear</i>
          </button>
      </div>
      <div class="modal-body">
          <jhi-alert-error></jhi-alert-error>
          <div class="form-group">
              <label for="firstName">Prénom</label>
              <input type="text" id="firstName"   class="form-control" formControlName="firstName">
            </div>
            <div class="form-group">
              <label for="lastName">Nom</label>
              <input type="text" id="lastName"   class="form-control" formControlName="lastName">
            </div>
            <div class="form-group">
              <label for="email">Adresse e-mail</label>
              <input type="text" id="email"   class="form-control" formControlName="email">
            </div>
            <div class="form-group">
              <label for="email">Phone</label>
              <input type="text" id="phone" class="form-control" formControlName="phone">
            </div>
            <div class="form-group">
              <label for="email">Adresse</label>
              <input type="text" id="address" class="form-control" formControlName="address">
            </div> 
      </div>
      <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
              <span class="fa fa-ban"></span>&nbsp;
              <span >Cancel</span>
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Update</button>
           
      </div>
    </form>  
