

<form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <div class="modal-header">
        <h4 class="modal-title">New user</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
            <i class="material-icons">clear</i>
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="firstName">Prénom</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName">
          </div>
          <div class="form-group">
            <label for="lastName">Nom</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName">
          </div>
          <div class="form-group">
            <label for="email">Adresse e-mail</label>
            <input type="text" id="email" class="form-control" formControlName="email">
          </div>
          <div class="form-group">
            <label for="email">Phone</label>
            <input type="text" id="phone" class="form-control" formControlName="phone">
          </div>
          <div class="form-group">
            <label for="email">Adresse</label>
            <input type="text" id="address" class="form-control" formControlName="address">
          </div>
          <div class="form-group">
            <label for="email">mot de passe</label>
            <input type="text" id="psw" class="form-control" formControlName="psw">
          </div>
          <div class="form-group">
            <label for="Role">Type ?</label>
            <select id="Role" class="form-control" formControlName="type">
            <option value="prof" >Prof</option>
            <option value="student" >Etudiant</option>
            </select>
          </div>
          <div class="form-group">
            <label for="Role">Role ?</label>
            <select id="Role" class="form-control" formControlName="role">
            <option value="admin" >Admin</option>
            <option value="user" >User</option>
            </select>
          </div>     
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span >Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Add</button>     
    </div>
</form>  
  