<h2 style="text-align:center"><strong  class="profil">Profile </strong></h2>

<div class="card">
  <!--<img src="/w3images/team2.jpg" alt="John" style="width:100%">-->
  <h1>{{ userFirstName }} {{ userLastName }}</h1>
  <p class="title"> {{ userEmail }}</p>
  
  <p>{{ type }}</p>
  <h4 *ngIf="type == 'etudiant'" >Class : {{ clas  }}  </h4>
  <p><button>Contact : {{ phone }} <br> Addresse : {{ address }}</button></p> 
</div>
<br><br>
<div class="row">
    <div class="col-sm-6" *ngIf="type == 'etudiant'">
        <h4>Matiére: </h4>
        <mat-form-field>
        <mat-label>matiére</mat-label>
        <mat-select [(ngModel)]="selectedSubject" (ngModelChange)="onOptionsSelected()">
            <mat-option *ngFor="let subject of subjects" [value]="subject">
            {{subject.title}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-6" *ngIf="type == 'etudiant' && selectedSubject">
        <h4>Mois: </h4>
        <mat-form-field>
            <input matInput [matDatepicker] = "picker" placeholder = "Choose a date" [(ngModel)] = "dateSelectedMonth" (dateChange)="onDateSelectedMonth()">
            <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
    </div>
</div>
<div *ngIf= "chart" class="form-horizontal">
    <div class="form-group col-sm-12">
        <div style="display: block" class="form-group col-sm-6">
        <canvas baseChart
                [datasets]="barChartDataM"
                [labels]="barChartLabelsM"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
        </div>
        <div style="display: block" class="form-group col-sm-6">
            <canvas baseChart
                    [datasets]="barChartDataR"
                    [labels]="barChartLabelsR"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
        </div>
    </div>
</div>
<div *ngIf= "chartS" class="form-horizontal">
        <div class="form-group col-sm-12">
            <div style="display: block" class="form-group col-sm-6">
            <canvas baseChart
                    [datasets]="barChartDataMS"
                    [labels]="barChartLabelsMS"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
            </div>
            &nbsp;&nbsp;
            <!--<div class = "vertical"></div> -->
            <div style="display: block" class="form-group col-sm-6">
                <canvas baseChart
                        [datasets]="barChartDataRS"
                        [labels]="barChartLabelsRS"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                </canvas>
            </div>
        </div>
    </div>
<div>
    <h4 style="text-align:center" *ngIf= "dateSelectedMonth"> moyenne par mois : {{ moyByMonth }}</h4>
    <h4 style="text-align:center" *ngIf= "dateSelectedMonth"> range par mois : {{ rank }}</h4>
    <div   class="text-right td-actions">
        <a (click)="openChartMonthByStudent()" *ngIf= "!chartS && dateSelectedMonth"  class="btn btn-primary"><span class="glyphicon glyphicon-signal"></span> stat/matiére</a>
        &nbsp;<a (click)="openChartMonth()" *ngIf= "!chart && dateSelectedMonth" class="btn btn-primary"><span class="glyphicon glyphicon-signal"></span> stat/étudiant</a>
        &nbsp;<a (click)="openNew()" *ngIf = "selectedSubject" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> add</a>
    </div>
    <table *ngIf="type == 'etudiant'" class="table table-striped table-responsive-md">
        <thead>
          <tr>
              <th jhiSortBy="Title">
                  <a >{{ 'note.note' | translate }} <span   class="glyphicon glyphicon-arrow-down"></span> <span  class="glyphicon glyphicon-arrow-up"></span></a>
              </th>
              <th jhiSortBy="description">
                  <a >{{ 'note.score' | translate }} <span   class="glyphicon glyphicon-arrow-down"></span> <span  class="glyphicon glyphicon-arrow-up"></span></a>
              </th>   
              <th jhiSortBy="description">
                <a >{{ 'note.date' | translate }} <span   class="glyphicon glyphicon-arrow-down"></span> <span  class="glyphicon glyphicon-arrow-up"></span></a>
              </th>   
              <th jhiSortBy="description">
                <a >Remarque <span   class="glyphicon glyphicon-arrow-down"></span> <span  class="glyphicon glyphicon-arrow-up"></span></a>
              </th>                      
            
          </tr>
        </thead>
        <tbody *ngIf="notes">
            <tr *ngFor="let note of notes; let i = index">
                <td   >{{ note.note }} </td>
                <td   >{{ note.score }}</td> 
                <td  *ngIf = "note.createdAt" >{{ toDate(note.createdAt) }}</td>
                <td   ><span *ngIf="note.fromProf" >de prof</span> <span *ngIf="!note.fromProf" >de parents</span></td>       
                <!--<td *ngIf="isAdmin || ( !note.fromProf && isAdmin !== 'true')"  class="td-actions text-right">
                     &nbsp;<a (click)="openDelete(note)" data-toggle="tooltip" title="Supprimer" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> </a>    
                </td>-->
            </tr>
        </tbody>
    </table>
    <div >
            <h4 style="text-align:center" *ngIf= "dateSelectedMonth && type != 'etudiant' "> votre classes:</h4>
        <table *ngIf="type != 'etudiant'" class="table table-striped table-responsive-md">
            <thead>
              <tr>
                  <th jhiSortBy="Title">
                      <a (click)="sort_by_title('title')">{{ 'class.classTitle' | translate }} <span *ngIf="!sortTitle" class="glyphicon glyphicon-arrow-down"></span> <span *ngIf="sortTitle" class="glyphicon glyphicon-arrow-up"></span></a>
                  </th>
                  <th jhiSortBy="description">
                      <a (click)="sort_by_description('description')">{{ 'class.description' | translate }} <span *ngIf="!sortDesc" class="glyphicon glyphicon-arrow-down"></span> <span *ngIf="sortDesc" class="glyphicon glyphicon-arrow-up"></span></a>
                  </th>   
                  <th jhiSortBy="description">
                      <a (click)="sort_by_description('description')">{{ 'class.studentNumber' | translate }} <span *ngIf="!sortDesc" class="glyphicon glyphicon-arrow-down"></span> <span *ngIf="sortDesc" class="glyphicon glyphicon-arrow-up"></span></a>
                  </th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let class of classes; let i = index">
                    <td *ngIf="!class.deleted" >{{ class.name }} </td>
                    <td *ngIf="!class.deleted"  >{{ class.description }}</td>
                    <td *ngIf="!class.deleted && isNumber"  >{{ class.etudiantNumber }}</td>         
                    <td *ngIf="!class.deleted" class="td-actions text-right">
                        <a (click)="getEtudiantNumber(class)" data-toggle="tooltip" title="nombre des étudiants"  class="btn btn-sm btn-info"><span class="glyphicon glyphicon-eye-open"></span> </a>
                        &nbsp;<a [routerLink]="['/dashboard/class/'+class.id+'/subject']" data-toggle="tooltip" title="Voir les matiéres" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-list-alt"></span>   </a>
                        &nbsp;<a [routerLink]="['/dashboard/class/'+class.id+'/student']" data-toggle="tooltip" title="etudiants" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-user"></span> </a>
                        &nbsp;<a [routerLink]="['/dashboard/class/'+class.id+'/prof']" data-toggle="tooltip" title="Profs" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-certificate"></span>   </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul *ngIf="totalPages" class="pagination">
        <li [ngClass]="{disabled:currentPage ===0}">
            <a  (click)="setPage(0)">{{ 'userList.first' | translate }}t</a>
        </li>
        <li [ngClass]="{disabled:0 >= currentPage}">
            <a (click)="setPage(currentPage - 1)">{{ 'userList.previous' | translate }}</a>
        </li>
        <li *ngFor="let page of TabReturn(pageView); let i = index" [ngClass]="{active:currentPage === page}">
            <a (click)="setPage(i)">{{i}}</a>
        </li>
        <li [ngClass]="{disabled:currentPage === totalPages-1}">
            <a (click)="setPage(currentPage + 1)">{{ 'userList.next' | translate }}</a>
        </li>
        <li [ngClass]="{disabled:currentPage === totalPages-1}">
            <a (click)="setPage(totalPages-1)">{{ 'userList.last' | translate }}</a>
        </li>
    </ul>
</div>
<a (click)="previousState()"  class="btn btn-info"><span class="glyphicon glyphicon-circle-arrow-left"></span>Retour</a>