<div class="main-content">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        <!-- <ngx-loading [show]="loading" [config]="{ animationType: ANIMATION_TYPES.rectangleBounce,
            backdropBackgroundColour: 'rgba(255,255,255,0.3)', backdropBorderRadius: '10px',
            primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }"></ngx-loading> -->
    <div class="keyword-wrapper"> 
        <input type="text" (ngModelChange)="search()" [formControl]="queryField" id="keyword" [(ngModel)]="VarQuery" placeholder="Search for users..." autofocus/>
    </div>
        <div >
            <table class="table table-striped table-bordered table-responsive-md">
                <thead>
                    <tr jhiSortBy="description"  >
                        <th jhiSortBy="firstName">
                            <a ng-click="sort_by('id')">First Name <span class="glyphicon glyphicon-sort"></span></a>
                        </th>
                        <th jhiSortBy="lastName">
                            <a ng-click="sort_by('id')">Last Name <i class="fa fa-sort"></i></a>
                        </th>
                        <th jhiSortBy="email">
                            <a ng-click="sort_by('id')">email <i class="fa fa-sort"></i></a>
                        </th>
                            
                        <th class="text-right td-actions">
                            <a (click)="openNew()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> add</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index">
                        <td>{{ user.firstName }} </td>
                        <td>{{ user.lastName }}</td>
                        <td>{{user.email}}</td>           
                        <td class="td-actions text-right">
                            <a [routerLink]="['../profil', user.id]" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span> </a>
                            &nbsp;<a (click)="openEdit(user.id)"   class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> </a>                      
                            &nbsp;<a (click)="open(user.id)"  class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> </a>                      
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example">
        <ul *ngIf="totalPages" class="pagination" >
            <li class="page-item" [ngClass]="{disabled:currentPage ===0}">
                <a  class="page-link" (click)="setPage(0)">First</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:0 >= currentPage}">
                <a class="page-link" (click)="setPage(currentPage - 1)">Previous</a>
            </li>
            <li class="page-item" *ngFor="let page of TabReturn(pageView); let i = index" [ngClass]="{active:currentPage === page}">
                <a class="page-link" (click)="setPage(i)">{{i}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:currentPage === totalPages-1}">
                <a class="page-link" (click)="setPage(currentPage + 1)">Next</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:currentPage === totalPages-1}">
                <a class="page-link" (click)="setPage(totalPages-1)">Last</a>
            </li>
        </ul>
    </nav>
    </div>
     