<div class="main-content"> 
    <h3 class="text-center">{{ 'userList.title' | translate }}</h3>
    <div style="text-align:center ; width:70%">
        <div class="keyword-wrapper">
            <input type="text" class="form-control" (ngModelChange)="search()" [formControl]="queryField" id="keyword" placeholder="Search for users..." autofocus/>
        </div>
    </div>

<style>
    .col-md-12{
margin-left: 5%;
}
    </style> 
    <div class="table-responsive" >
        <table class="table table-striped sortable table-responsive">
            <thead class="thead-dark">
                <tr  jhiSortBy="description"  >
                    <th>
                        <a class = "classFont" (click)="sort_by_firstName('firstName')" >{{ 'userList.firstName' | translate }} <span *ngIf="!sortFirstName" class="glyphicon glyphicon-arrow-down"></span> <span *ngIf="sortFirstName" class="glyphicon glyphicon-arrow-up"></span></a>
                    </th>
                    <th jhiSortBy="lastName">
                        <a class = "classFont" (click)="sort_by_lastName('lastName')">{{ 'userList.lastName' | translate }} <span *ngIf="!sortLastName" class="glyphicon glyphicon-arrow-down"></span> <span *ngIf="sortLastName" class="glyphicon glyphicon-arrow-up"></span></a>
                    </th>
                    <th jhiSortBy="email">
                        <a class = "classFont" (click)="sort_by_email('email')">{{ 'userList.email' | translate }} <span *ngIf="!sortEmail" class="glyphicon glyphicon-arrow-down"></span> <span *ngIf="sortEmail" class="glyphicon glyphicon-arrow-up"></span></a>
                    </th> 
                    <th jhiSortBy="email">
                        <a class = "classFont" (click)="sort_by_email('email')">Remarque <span *ngIf="!sortEmail" class="glyphicon glyphicon-arrow-down"></span> <span *ngIf="sortEmail" class="glyphicon glyphicon-arrow-up"></span></a>
                    </th>                      
                    <th class="text-right td-actions">
                        <a class = "classFont" (click)="openNewEmail()" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> Email</a>
                        &nbsp;<a (click)="openNew()" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> add</a>
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let user of users; let i = index">
                <tr *ngIf = "!user.isDeleted && user.type != 'user'">
                    <td>{{ user.firstName }} </td>
                    <td>{{ user.lastName }}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.type}}</td>          
                    <td class="td-actions text-right">
                        <a [routerLink]="['../profil', user.id]" data-toggle="tooltip" title="voir profil" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-eye-open"></span> </a>
                        &nbsp;<a (click)="openEdit(user)" data-toggle="tooltip" title="Modifier" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-pencil"></span> </a>                      
                        &nbsp;<a (click)="open(user.id)" data-toggle="tooltip" title="Supprimer" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-remove"></span> </a>
                        <!--&nbsp;<a (click)="addRole(user)" data-toggle="tooltip" title="Role" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-plus"></span> </a>                      
                        -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center"> 
        <ul *ngIf="totalPages" class="pagination">
            <li [ngClass]="{disabled:currentPage ===0}">
                <a  (click)="setPage(0)">{{ 'userList.first' | translate }}</a>
            </li>
            <li [ngClass]="{disabled:0 >= currentPage}">
                <a (click)="setPage(currentPage - 1)">{{ 'userList.previous' | translate }}</a>
            </li>
            <li *ngFor="let page of TabReturn(pageView); let i = index" [ngClass]="{active:currentPage === page}">
                <a (click)="setPage(i)">{{i}}</a>
            </li>
            <li [ngClass]="{disabled:currentPage === totalPages-1}">
                <a (click)="setPage(currentPage + 1)">{{ 'userList.next' | translate }}</a>
            </li>
            <li [ngClass]="{disabled:currentPage === totalPages-1}">
                <a (click)="setPage(totalPages-1)">{{ 'userList.last' | translate }}</a>
            </li>
        </ul>  
    </div>
</div>