<div class="main-content">
  <h3 class="text-center">Liste des question d'un examen pour un candidat</h3>
  <div class="table-responsive" >
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>
                      <a (click)="sort_by_title('title')">Title <span class="glyphicon glyphicon-sort"></span></a>
                  </th>
                  <th>
                      <a (click)="sort_by_description('description')">Description <span class="glyphicon glyphicon-sort"></span></a>
                  </th>                                   
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let question of questions; let i = index">
                  <td>{{ question.title }} </td>
                  <td>{{ question.description }}</td>          
                  <td class="td-actions text-right">
                    <a (click)="answer(question.id,question.type)" data-toggle="tooltip" title="Répondre" class="btn btn-success"><span class="glyphicon glyphicon-list-alt"></span> </a>                                   
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  
  <ul *ngIf="totalPages" class="pagination">
      <li [ngClass]="{disabled:currentPage ===0}">
          <a  (click)="setPage(0)">First</a>
      </li>
      <li [ngClass]="{disabled:0 >= currentPage}">
          <a (click)="setPage(currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of TabReturn(pageView); let i = index" [ngClass]="{active:currentPage === page}">
          <a (click)="setPage(i)">{{i}}</a>
      </li>
      <li [ngClass]="{disabled:currentPage === totalPages-1}">
          <a (click)="setPage(currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:currentPage === totalPages-1}">
          <a (click)="setPage(totalPages-1)">Last</a>
      </li>
  </ul>
</div>
<a [routerLink]="['/candidats/exams']" class="btn btn-info pull-left"><span class="glyphicon glyphicon-circle-arrow-left"></span> Retour</a>