
 
  <div class="modal-header">
    <h4 class="modal-title">Ajouter étudiant: </h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
        <i class="material-icons">clear</i>
    </button>
</div>

<div class="modal-body">
    <!--  <h4>Session : </h4> 
      <input  (change)="onChangeDate($event.target.value)"  type="date"
      value="2019-07-22"
      min="2019-01-01" max="2019-12-31">
      -->
      <div class="form-group">
        <label for="Class"> </label>
        <div class="keyword-wrapper"> 
          <input type="text" (ngModelChange)="search()" class="form-control" [formControl]="queryField" id="keyword" placeholder="Search for candidat..." autofocus/>
        </div>
        
        <ul *ngIf= "users.length" class="list-group">
          <!-- Default unchecked -->
          <div class="checkbox" *ngFor="let user of users; let i = index">
            <li class="list-group-item" >             
                <label><input [checked]="idUsersChecked.includes(user.id)" type="checkbox" (change)="onChange(user, $event.target.checked,i)" name="{{ user.lastName }}" id="{{user.lastName}}">{{ user.firstName }} {{ user.lastName }}</label>
            </li>
          </div>
        </ul>    
        <!-- pager -->
        <ul *ngIf="totalPages" class="pagination">
          <li [ngClass]="{disabled:currentPage ===0}">
              <a  (click)="setPage(0)">First</a>
          </li>
          <li [ngClass]="{disabled:0 >= currentPage}">
              <a (click)="setPage(currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of TabReturn(pageView); let i = index" [ngClass]="{active:currentPage === page}">
              <a (click)="setPage(i)">{{i}}</a>
          </li>
          <li [ngClass]="{disabled:currentPage === totalPages-1}">
              <a (click)="setPage(currentPage + 1)">Next</a>
          </li>
          <li [ngClass]="{disabled:currentPage === totalPages-1}">
              <a (click)="setPage(totalPages-1)">Last</a>
          </li>
        </ul>
      </div>     
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
        <span class="fa fa-ban"></span>&nbsp;
        <span >Cancel</span>
    </button>
    <button (click)="submit(classId)" type="submit" class="btn btn-primary" [ngClass]="{disabled:UsersChecked.length===0||isEmpty(UsersChecked)}" >Add</button>     
</div>


