
<form [formGroup]="classForm" (ngSubmit)="onSubmitForm()">
    <div class="modal-header">
        <h4 class="modal-title">Nouveau classe</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
            <i class="material-icons">clear</i>
        </button>
    </div>
  
    <div class="modal-body">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" id="Title" class="form-control" formControlName="Title">
        </div>
           
        <div class="form-group">
            <label for="Description">Description</label>
            <textarea rows = "5" cols = "50" class="form-control" formControlName="Description"></textarea>
        </div>
        <div class="form-group"> 
            <label class="custom-control-label" for="etudiantNumber">Etudiant</label>
            <input type="number" formControlName="etudiantNumber" class="form-control" />
          </div>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span >Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="classForm.invalid">Add</button>     
    </div>
</form>  
  
    