<div class="main-content"> 
    <h3 class="text-center">liste des classes</h3>
  <div >
      <table class="table table-striped table-responsive-md">
          <thead>
            <tr>
                <th jhiSortBy="Title">
                    <a (click)="sort_by_title('title')">{{ 'class.classTitle' | translate }} <span *ngIf="!sortTitle" class="glyphicon glyphicon-arrow-down"></span> <span *ngIf="sortTitle" class="glyphicon glyphicon-arrow-up"></span></a>
                </th>
                <th jhiSortBy="description">
                    <a (click)="sort_by_description('description')">{{ 'class.description' | translate }} <span *ngIf="!sortDesc" class="glyphicon glyphicon-arrow-down"></span> <span *ngIf="sortDesc" class="glyphicon glyphicon-arrow-up"></span></a>
                </th>   
                <th jhiSortBy="description">
                    <a (click)="sort_by_description('description')">{{ 'class.studentNumber' | translate }} <span *ngIf="!sortDesc" class="glyphicon glyphicon-arrow-down"></span> <span *ngIf="sortDesc" class="glyphicon glyphicon-arrow-up"></span></a>
                </th>                  
                <th class="text-right td-actions">
                    <a (click)="openNew()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> add</a>
                </th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let class of classes; let i = index">
                  <td *ngIf="!class.deleted" >{{ class.name }} </td>
                  <td *ngIf="!class.deleted"  >{{ class.description }}</td>
                  <td *ngIf="!class.deleted"  >{{ class.etudiantNumber }}</td>         
                  <td *ngIf="!class.deleted" class="td-actions text-right">
                      &nbsp;<a (click)="getEtudiantNumber(class)" data-toggle="tooltip" title="voir nombre des etudiants"  class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-eye-open"></span> </a>
                      &nbsp;<a [routerLink]="['../class/'+class.id+'/subject']" data-toggle="tooltip" title="Voir les matiéres" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-list-alt"></span>   </a>
                      &nbsp;<a [routerLink]="['../class/'+class.id+'/student']" data-toggle="tooltip" title="etudiants" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-user"></span> </a>
                      &nbsp;<a [routerLink]="['../class/'+class.id+'/prof']" data-toggle="tooltip" title="Profs" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-certificate"></span>   </a>
                      &nbsp;<a (click)="openEdit(class)" data-toggle="tooltip" title="Modifier"  class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil"></span> </a>
                      &nbsp;<a (click)="openDelete(class)" data-toggle="tooltip" title="Supprimer" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-remove"></span> </a>    
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="text-center"> 
        <ul *ngIf="totalPages" class="pagination" >
            <li  [ngClass]="{disabled:currentPage ===0}">
                <a  class="page-link" (click)="setPage(0)">First</a>
            </li>
            <li [ngClass]="{disabled:0 >= currentPage}">
                <a class="page-link" (click)="setPage(currentPage - 1)">Previous</a>
            </li>
            <li  *ngFor="let page of TabReturn(pageView); let i = index" [ngClass]="{active:currentPage === page}">
                <a class="page-link" (click)="setPage(i)">{{i}}</a>
            </li>
            <li  [ngClass]="{disabled:currentPage === totalPages-1}">
                <a class="page-link" (click)="setPage(currentPage + 1)">Next</a>
            </li>
            <li  [ngClass]="{disabled:currentPage === totalPages-1}">
                <a class="page-link" (click)="setPage(totalPages-1)">Last</a>
            </li>
        </ul>
    </div>
    
</div>