<div class="card">
    <!--<img src="/w3images/team2.jpg" alt="John" style="width:100%">-->
    <h1>{{ name }}</h1>
    <!--<div style="margin: 24px 0;">
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a>  
      <a href="#"><i class="fa fa-linkedin"></i></a>  
      <a href="#"><i class="fa fa-facebook"></i></a>
      <h3 class="text-center">Liste des profs: </h3>
    </div>-->
    <p><button>Description : {{ phone }} <br> Nombre des etudiants : {{ etudiantNumber }}</button></p> 
  </div>
<div class="main-content">
    <div class="table-responsive" >
        <table class="table table-striped">
            <thead>
                <tr jhiSort  >
                    <th jhiSortBy="firstName">
                        <span >First Name</span>
                        <span></span>
                    </th>
                    <th jhiSortBy="lastName">
                        <span >Last Name</span>
                        <span></span>
                    </th>     
                    <th class="text-right td-actions">
                        <a (click)="openNew()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> add</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i = index">
                    <td>{{ user.firstName }} </td>
                    <td>{{ user.lastName }}</td>           
                    <td class="td-actions text-right">
                        &nbsp;&nbsp;<a (click)="openDelete(user)" data-toggle="tooltip" title="Supprimer" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-remove"></span> </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <nav aria-label="Page navigation example">
            <ul *ngIf="totalPages" class="pagination" >
                <li  [ngClass]="{disabled:currentPage ===0}">
                    <a  class="page-link" (click)="setPage(0)">First</a>
                </li>
                <li  [ngClass]="{disabled:0 >= currentPage}">
                    <a class="page-link" (click)="setPage(currentPage - 1)">Previous</a>
                </li>
                <li  *ngFor="let page of TabReturn(pageView); let i = index" [ngClass]="{active:currentPage === page}">
                    <a class="page-link" (click)="setPage(i)">{{i}}</a>
                </li>
                <li  [ngClass]="{disabled:currentPage === totalPages-1}">
                    <a class="page-link" (click)="setPage(currentPage + 1)">Next</a>
                </li>
                <li  [ngClass]="{disabled:currentPage === totalPages-1}">
                    <a class="page-link" (click)="setPage(totalPages-1)">Last</a>
                </li>
            </ul>
        </nav>
    </div>
    <a (click)="previousState()" class="btn btn-info"><span class="glyphicon glyphicon-circle-arrow-left"></span>Retour</a>
</div>