<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div  id="wrapper" class="active"  >  
        <!-- Sidebar -->
<div class="container">
</div>
  <div class="row">
    <div class="col-md-12"> 
      <router-outlet></router-outlet>
      <app-loader></app-loader> 
      <router-outlet name="popup"></router-outlet>
    </div>
  </div>
</div>