<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div id="wrapper"  class="active"  >  
    <mat-sidenav-container *ngIf="isLoggedIn$ | async as isLoggedIn" class="sidenav-container">
        <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'"
            [opened]="!(isHandset$ | async)">
          <mat-toolbar color="primary">Menu</mat-toolbar>
          <mat-nav-list>
            <a mat-list-item *ngIf="isAdmin" [routerLink]="['../dashboard/users']"> Utilisateurs</a>
            <a mat-list-item *ngIf="isAdmin" [routerLink]="['../dashboard/class']"> Classes </a>
            <a mat-list-item *ngIf="isAdmin" [routerLink]="['../dashboard/subject']">  Matières </a>
            <a mat-list-item *ngIf="isAdmin" [routerLink]="['../dashboard/quote']"> Citation </a>
            <a mat-list-item *ngIf="!isAdmin" [routerLink]="['../candidats/subjects',this.userId]"> Matières </a>
            <a mat-list-item [routerLink]="['../dashboard/subjects/rank']"> Range </a>
            <a mat-list-item [routerLink]="['../dashboard/idea']"> Idée </a>
            <a mat-list-item (click)="toProfile('en')" mat-list-item>Profile</a>
            <a mat-list-item (click)="logout()" mat-list-item>Logout</a>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <mat-toolbar color="primary">
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              >
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>My school</span>
          </mat-toolbar>
          <!-- Add Content Here -->
        </mat-sidenav-content>
        <span>My school</span>
        <a mat-list-item (click)="logout()" mat-list-item>Logout</a>
      </mat-sidenav-container> 
   
  <div  [class.row]="isLoggedIn">
    <div  [class.col-md-11]="isLoggedIn"  > 
      <router-outlet></router-outlet>
      <app-loader></app-loader> 
      <router-outlet name="popup"></router-outlet>
    </div>
  </div>
</div>