<form [formGroup]="questionForm" (ngSubmit)="onSubmitForm(questionId)">
    <div class="modal-header">
        <h4 class="modal-title">Edit question</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
            <i class="material-icons">clear</i>
        </button>
    </div>
  
    <div class="modal-body"> 
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" id="Title" class="form-control" formControlName="Title">
        </div>
        
        <div class="form-group"> 
            <label for="Description">Description</label>
            <input type="text" id="Description" class="form-control" formControlName="Description">
        </div>

        <div class="form-group" [hidden]= "type=='qcmQuestion'"> 
            <label for="Response">Response</label>
            <input type="text"   id="Response" class="form-control" formControlName="Response">
        </div>

        <div class="form-group"  [hidden] = "type=='qroQuestion'"> 
            <a (click)="clear()" [routerLink]="['../dashboard/questions/',questionId,'answers']" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Qcm answer</a>
        </div> 
    </div>
    <div [hidden] = "type=='qroQuestion'">
        <div *ngFor="let prop of this.tabPropositions; let i=index" class="panel panel-default">
            <div class="panel-heading">
            <span> {{prop.description}}</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span >Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="questionForm.invalid">Add</button>     
    </div>
</form>   