<form [formGroup]="propositionForm" (ngSubmit)="onSubmitForm()">
  <div class="modal-header">
      <h4 class="modal-title">Edit proposition</h4>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
          <i class="material-icons">clear</i>
      </button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group"> 
        <label for="Description">Description</label>
        <input type="text"   id="Description" class="form-control" formControlName="Description">
    </div> 
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
          <span class="fa fa-ban"></span>&nbsp;
          <span >Cancel</span>
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="propositionForm.invalid">Add</button>     
  </div>
</form>  

