<div class="main-content">
  <div class="table-responsive" >
      <table class="table table-striped">
          <thead>
              <tr>
                  <th jhiSortBy="Description">
                      <a>Description </a>
                  </th>
                  <th jhiSortBy="Description">
                        <a>réponse</a>
                    </th>                    
                  <th class="text-right td-actions">
                      <a (click)="openNew(questionId)" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> add</a>
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let proposition of propositions; let i = index">
                  <td>{{ proposition.description }} </td>
                  <td>{{ proposition.isTrue }} </td>          
                  <td class="td-actions text-right">
                    <a (click)="openEdit(proposition.id)"  class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> </a>              
                    &nbsp;<a (click)="openDelete(proposition.id)"  class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> </a>                     
                  </td>
              </tr> 
          </tbody>
      </table>
  </div>
</div>