<form [formGroup]="propositionForm" (ngSubmit)="onSubmitForm()">
    <div class="modal-header">
        <h4 class="modal-title">New proposition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
            <i class="material-icons">clear</i>
        </button>
    </div>

    <div class="modal-body">
        <div class="panel-body" >
            <div class="custom-control custom-checkbox pull-right">
                <input formControlName="isTrue" type="checkbox" >
                <label class="custom-control-label" >Vrai ou faux?</label>
            </div>
            <div class="form-group col-xs-9"> 
                <input type="text" class="form-control" formControlName="Description">                         
            </div>
        </div>  
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span >Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="propositionForm.invalid">Add</button>     
    </div>
</form>  

  