<form [formGroup]="questionForm" (ngSubmit)="onSubmitForm()" >
    <div class="modal-header">
        <h4 class="modal-title">New question</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
            <i class="material-icons">clear</i>
        </button>
    </div>

    <div class="modal-body">
      <div class="form-group">
          <label for="Title">Title</label>
          <input type="text" id="Title" class="form-control" formControlName="Title">
      </div> 

      <div class="form-group"> 
          <label for="Description">Description</label>
          <textarea rows = "5" cols = "50"   id="Description" class="form-control" formControlName="Description"></textarea>
      </div>

      <div class="form-group" [hidden]= "type=='qcmQuestion'"> 
        <label for="Response">Response</label> 
        <textarea rows = "5" cols = "50" class="form-control" formControlName="Response">
        </textarea>
      </div>
      
      <div class="form-group"> 
        <label class="custom-control-label" for="Score">Score</label>
        <input type="number" formControlName="score" class="form-control" />
      </div>

      <div class="custom-control custom-checkbox"> 
        <input type="checkbox" formControlName="type" id="qcmCheck" (change)="onChange()" class="custom-control-input" >
        <label class="custom-control-label" for="qcmCheck">QCM</label>
      </div>
 
      <div class="form-group"  [hidden]= "type!='qcmQuestion'"> 
          <a (click)="addProposition()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> add answer</a>
      </div>  
      <div   class= "modal-guts">
        <div style="height:150px;overflow:auto;border:8px solid yellowgreen;padding:2%" [hidden]= "type!='qcmQuestion'" formArrayName="propositions" >
            <div *ngFor="let proposition of questionForm['controls'].propositions['controls']; let i=index" class="panel panel-default">
                <div class="panel-heading">
                <span>Proposition {{i + 1}}</span>
                <span class="glyphicon glyphicon-remove pull-right" *ngIf="questionForm['controls'].propositions['controls'].length > 0" (click)="removeProposition(i)"></span>
                </div>
                <div class="panel-body" [formGroupName]="i">
                    <div class="custom-control custom-checkbox pull-right">
                        <input formControlName="isTrue" type="checkbox" id="{{i}}" >
                        <label class="custom-control-label" for="{{i}}">Vrai ou faux?</label>
                    </div>
                    <div class="form-group col-xs-9"> 
                        <input type="text" class="form-control" formControlName="description">                         
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span >Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="questionForm.invalid">Add</button>     
    </div>
</form>  

  