<div class="main-content">
  <h3 class="text-center">Liste des questions d'un examen</h3>
  <div class="table-responsive" >
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>
                      <a (click)="sort_by_title('title')">Title <span class="glyphicon glyphicon-sort"></span></a>
                  </th>
                  <th>
                      <a (click)="sort_by_description('description')">Description <span class="glyphicon glyphicon-sort"></span></a>
                  </th>                    
                  <th class="text-right td-actions">
                      <a (click)="openNew(examId)" data-toggle="tooltip" title="Ajouter" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> add</a>
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let question of questions; let i = index">
                  <td>{{ question.title }} </td>
                  <td>{{ question.description }}</td>          
                  <td class="td-actions text-right">
                    <a (click)="openEdit(examId,question.id)" data-toggle="tooltip" title="Modifier" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> </a>              
                    &nbsp;<a (click)="openDelete(question.id)" data-toggle="tooltip" title="Supprimer" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> </a>                     
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="pagination">
    <ul *ngIf="totalPages" class="pagination">
        <li [ngClass]="{disabled:currentPage ===0}">
            <a  (click)="setPage(0)">First</a>
        </li>
        <li [ngClass]="{disabled:0 >= currentPage}">
            <a (click)="setPage(currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of TabReturn(pageView); let i = index" [ngClass]="{active:currentPage === page}">
            <a (click)="setPage(i)">{{i}}</a>
        </li>
        <li [ngClass]="{disabled:currentPage === totalPages-1}">
            <a (click)="setPage(currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:currentPage === totalPages-1}">
            <a (click)="setPage(totalPages-1)">Last</a>
        </li>
    </ul>
  </div>
</div>

<a [routerLink]="['/dashboard/exams']" class="btn btn-info pull-left"><span class="glyphicon glyphicon-circle-arrow-left"></span> Retour</a>