
  <div class="modal-header">
      <h4 class="modal-title">Note</h4>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
        <i class="material-icons">clear</i>
      </button>
  </div>

  <div class="modal-body">
    <div *ngIf ="answers.length==0" >
      <h4>Il n'a pas répondu à cette question</h4>    
    </div> 
    <div *ngIf = "answers.length!=0" class="form-group">
      <h4 class="modal-title">Reponse du candidat:</h4> 
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let answer of this.answers; let i = index">            
            <div  class="custom-control custom-checkbox"> 
              <label class="custom-control-label" for="defaultUnchecked">{{ answer.description }}</label>                           
            </div>
          </li>
        </ul> 
      <h4 class="modal-title">Score du question:</h4> 
      {{questionScore}} 
    </div> 
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
      <span class="fa fa-ban"></span>&nbsp;
      <span >Cancel</span>
    </button>     
  </div> 