
<form [formGroup]="noteForm" (ngSubmit)="onSubmitForm()">
    <div class="modal-header">
        <h4 class="modal-title">Note</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
            <i class="material-icons">clear</i>
        </button>
    </div>
  
    <div class="modal-body">
        <div [hidden]="answer" >
              <h4>Il n'a pas répondu à cette question</h4>    
        </div>
        <div *ngIf = "answer" class="answer">
            <h4 class="modal-title">Reponse du candidat:</h4> 
            <p >{{answer.description}}</p> 
            <h4 class="modal-title">Reponse du professeur:</h4> 
            <p >{{questionResponse}}</p> 
            <h4 class="modal-title">Score:</h4> 
            <p >{{questionScore}}</p>  
            <div class="form-group"> 
                <label class="custom-control-label" for="Score">Note</label>
                <input type="number" formControlName="note" class="form-control" />
            </div>         
        </div>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span >Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="noteForm.invalid">Add</button>     
    </div>
  </form>  