<div class="modal-body">
    <p >Warning!</p>
    <div *ngIf="message!= null">
        <div class="alert alert-danger" 
             role="alert"
             *ngIf="!message.status">
            {{message.message}}
        </div>
    </div>  
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
        <span class="fa fa-ban"></span>&nbsp;
        <span >Ok</span>
    </button>
        
</div>
