
<h4 >Nom : {{ examTitle }}  </h4>
<h4 >Description : {{ examDescription }}  </h4>
<a [routerLink]="['/candidats/exams']" class="btn btn-info"><span class="glyphicon glyphicon-circle-arrow-left"></span>Retour</a>