<div class="main-content"> 
    <h3 class="text-center" >Liste des examens d'un candidat</h3>
  <div >
      <table class="table table-striped table-responsive-md">
          <thead>
            <tr>
                <th >
                    <a >Title</a>
                </th>
                <th >
                    <a>Description </a>
                </th>   
                <th >
                    <a>Score </a>
                </th>                
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let exam of exams; let i = index">
                  <td>{{ exam.title }} </td>
                  <td>{{ exam.description }}</td> 
                  <td>{{ this.score }}</td>         
                  <td class="td-actions text-right">
                    <a (click)="getScore(this.Iduser,exam.id)" data-toggle="tooltip" title="Résultat" class="btn btn-success"><span class="glyphicon glyphicon-list-alt"></span> </a>                                   
                    &nbsp;<a [routerLink]="['../exams/detail/questions', exam.id]" data-toggle="tooltip" title="Voir les questions" class="btn btn-primary"><span class="glyphicon glyphicon-question-sign"></span>   </a>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>