
<form [formGroup]="ideaForm" (ngSubmit)="onSubmitForm()">
        <div class="modal-header">
            <h4 class="modal-title">Nouveau idée</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
                <i class="material-icons">clear</i>
            </button>
        </div>
      
        <div class="modal-body">
            <div class="form-group">
                <label for="Title">Titre</label>
                <input type="text" id="Title"  class="form-control" formControlName="Title">
            </div>
               
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea rows = "5" cols = "2" class="form-control" ng-maxlength="5" formControlName="note"></textarea>
            </div>

            <div *ngIf = "false" class="custom-control custom-checkbox">
                <input type="checkbox" (change)="onChange()">
                <label class="custom-control-label" > Anonyme</label>                                          
              </div>
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span >Cancel</span>
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="ideaForm.invalid" >Add</button>     
        </div>
    </form>  
        