<h3 style="text-align:center"><span class="profil">Range par matiére </span></h3>
<div class="row">
    <div class="col-sm-3" *ngIf = "type != 'etudiant'" >
        <h4>Classe: </h4>
        <mat-form-field>
        <mat-label>Classe</mat-label>
        <mat-select [(ngModel)]="selectedClass" (selectionChange)="onOptionsSelectedClass()">
            <mat-option *ngFor="let class of classes" [value]="class">
            {{class.name}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-3" *ngIf = "selectedClass" >
        <h4>matiére: </h4>
        <mat-form-field>
        <mat-label>matiére</mat-label>
        <mat-select [(ngModel)]="selectedSubject" (ngModelChange)="onOptionsSelected()">
            <mat-option *ngFor="let subject of subjects" [value]="subject">
            {{subject.title}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-3" *ngIf="selectedSubject">
        <h4>Mois: </h4>
        <mat-form-field>
            <input matInput [matDatepicker] = "picker" placeholder = "Choose a date" [(ngModel)] = "dateSelectedMonth" (dateChange)="onDateSelectedMonth()">
            <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</div>
<div>
    <div class="pull-right" style="text-align:center ; width:20%">
        <div  class="keyword-wrapper form-group center profil">
            <input type="text" class="form-control" [(ngModel)]="key" (ngModelChange)="search()" [formControl]="queryField" id="keyword" placeholder="Search for users..." autofocus/>
        </div>
    </div>
    <table  class="table table-striped table-responsive-md">
        <thead>
          <tr>
              <th jhiSortBy="Title">
                  <a >Nom <span   class="glyphicon glyphicon-arrow-down"></span> <span  class="glyphicon glyphicon-arrow-up"></span></a>
              </th>
              <th jhiSortBy="description">
                  <a >range <span   class="glyphicon glyphicon-arrow-down"></span> <span  class="glyphicon glyphicon-arrow-up"></span></a>
              </th>   
              <th jhiSortBy="description">
                <a >moyenne <span   class="glyphicon glyphicon-arrow-down"></span> <span  class="glyphicon glyphicon-arrow-up"></span></a>
            </th> 
          </tr>
        </thead>
        <tbody *ngIf="allItems">  
            <tr *ngFor="let rank of pagedItems | customerEtudiantFilter:key; let i = index">
                <td   >{{ rank.etudiant.firstName}} </td>
                <td   >{{ rank.rank }}</td> 
                <td   >{{ toMoy(rank.moy) }}</td>        
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <!-- items being paged -->
        <div *ngFor="let item of pagedItems">{{item.name}}</div>

        <!-- pager -->
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPageS(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPageS(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPageS(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPageS(pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPageS(pager.totalPages)">Last</a>
            </li>
        </ul>
    </div>
</div>
 
<a (click)="previousState()"  class="btn btn-info"><span class="glyphicon glyphicon-circle-arrow-left"></span>Retour</a>