/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fade {
    opacity: 1;
    -webkit-transition: opacity .15s linear;
         -o-transition: opacity .15s linear;
            transition: opacity .15s linear;
}

.modal-dialog { 
    margin: 150px auto;
}
#wrapper  {
    padding-left: 0px;
    //margin-left: -70px;
}
.row{
    position: relative;
    left: 80px;

}
.col-md-12{
        width: 95%;
}
.thead-dark{
    background-color: #0000;
}
.table-responsive-md{
    width: 100%;
}
a:hover {
cursor:pointer;
} 
.navbar-inverse{
    background:linear-gradient(to right,#6E7FF3, #4099ff );
}

.table.table a {
    font-size: 1.5rem;
    font-weight: 500;
    color :  rgba(81, 203, 238, 1);
}
.table td {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .table  thead  tr  th{
    font-size: 1.5rem;
    font-weight: 500;
    color :  rgba(81, 203, 238, 1);
  }
  .navbar .dropdown-menu a {
    font-size: 1.5rem;
    font-weight: 500;  
  }