
<form [formGroup]="examForm" (ngSubmit)="onSubmitForm(examId)">
  <div class="modal-header">
      <h4 class="modal-title">Edit exam</h4>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
          <i class="material-icons">clear</i>
      </button>
  </div>

  <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <div class="form-group">
          <label for="Title">Title</label>
          <input type="text" id="Title" class="form-control" formControlName="Title">
      </div>
         
      <div class="form-group">
          <label for="Description">Description</label>
          <input type="text" id="Description" class="form-control" formControlName="Description">
      </div>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
          <span class="fa fa-ban"></span>&nbsp;
          <span >Cancel</span>
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="examForm.invalid">Edit</button>     
  </div>
</form> 