<h3 class="text-center">Liste des candidats d'un examen </h3> 
<h4>Titre : {{ examTitle }}  </h4>
<h4>Description : {{ examDescription }}  </h4>
<div class="main-content">
    <div class="table-responsive" >
        <table class="table table-striped">
            <thead>
                <tr jhiSort  >
                    <th jhiSortBy="firstName">
                        <span >First Name</span>
                        <span></span>
                    </th>
                    <th jhiSortBy="lastName">
                        <span >Last Name</span>
                        <span></span>
                    </th>
                    <th jhiSortBy="email">
                        <span  >email</span>
                        <span></span>
                    </th>
                        
                    <th class="text-right td-actions">
                        <a (click)="openNew()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> add</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersExam; let i = index">
                    <td>{{ user.firstName }} </td>
                    <td>{{ user.lastName }}</td>
                    <td>{{user.email}}</td>           
                    <td class="td-actions text-right">
                        &nbsp;&nbsp;<a (click)="openDelete(user.id)" data-toggle="tooltip" title="Supprimer" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> </a>
                        &nbsp;&nbsp;<a [routerLink]="['/dashboard/result/exam', examId,'user',user.id]" data-toggle="tooltip" title="Résultat d'un candidat"  class="btn btn-info"><span class="glyphicon glyphicon-folder-close"></span> </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<a [routerLink]="['/dashboard/exams']" class="btn btn-info"><span class="glyphicon glyphicon-circle-arrow-left"></span>Retour</a>  
</div>