<div class="main-content"> 
    <h3 class="text-center">{{ 'examList.title' | translate }}</h3>
<div class="keyword-wrapper"> 
  <input type="text" (ngModelChange)="search()" [formControl]="queryField" id="keyword" placeholder="Search for exams..." autofocus/>
</div>

  <div >
      <table class="table table-striped table-responsive-md">
          <thead>
            <tr>
                <th jhiSortBy="Title">
                    <a (click)="sort_by_title('title')">{{ 'examList.examTitle' | translate }} <span *ngIf="!sortTitle" class="glyphicon glyphicon-arrow-down"></span> <span *ngIf="sortTitle" class="glyphicon glyphicon-arrow-up"></span></a>
                </th>
                <th jhiSortBy="description">
                    <a (click)="sort_by_description('description')">{{ 'examList.description' | translate }} <span *ngIf="!sortDesc" class="glyphicon glyphicon-arrow-down"></span> <span *ngIf="sortDesc" class="glyphicon glyphicon-arrow-up"></span></a>
                </th>                    
                <th class="text-right td-actions">
                    <a (click)="openNew()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> add</a>
                </th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let exam of exams; let i = index">
                  <td>{{ exam.title }} </td>
                  <td>{{ exam.description }}</td>          
                  <td class="td-actions text-right">
                      <a [routerLink]="['../exam/detail', exam.id]" data-toggle="tooltip" title="Detail" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-eye-open"></span> </a>
                      &nbsp;<a [routerLink]="['../detail/questions', exam.id]" data-toggle="tooltip" title="Voir les questions" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-question-sign"></span>   </a>
                      &nbsp;<a (click)="openEdit(exam.id)" data-toggle="tooltip" title="Modifier"  class="btn btn-sm btn-success"><span class="glyphicon glyphicon-pencil"></span> </a>
                      &nbsp;<a (click)="openDelete(exam.id)" data-toggle="tooltip" title="Supprimer" class="btn btn-sm btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> </a>    
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  
  <ul *ngIf="totalPages" class="pagination">
      <li [ngClass]="{disabled:currentPage ===0}">
          <a  (click)="setPage(0)">{{ 'examList.first' | translate }}</a>
      </li>
      <li [ngClass]="{disabled:0 >= currentPage}">
          <a (click)="setPage(currentPage - 1)">{{ 'examList.previous' | translate }}</a>
      </li>
      <li *ngFor="let page of TabReturn(pageView); let i = index" [ngClass]="{active:currentPage === page}">
          <a (click)="setPage(i)">{{i}}</a>
      </li>
      <li [ngClass]="{disabled:currentPage === totalPages-1}">
          <a (click)="setPage(currentPage + 1)">{{ 'examList.next' | translate }}</a>
      </li>
      <li [ngClass]="{disabled:currentPage === totalPages-1}">
          <a (click)="setPage(totalPages-1)">{{ 'examList.last' | translate }}</a>
      </li>
  </ul>
</div>